{% extends "base.html" %}

{% block content %}


<!-- Add the form for tasks in here -->


<form action="/tasks" method="post">

    <div>
        <label for="description">Description</label>
        <input type="text" id="description" 
        name="description" placeholder="description"
        required autofocus>
    </div>

    <div>
        <label for="duration">Duration</label>
        <input type="number" id="duration"
        name="duration" placeholder="duration" required>
    </div>


    <div>
        <label for="completed">Completed</label>
        <select id="completed" name="completed">
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
    </div>


    <div>
        <label for="user">User</label>
        <select id="user" name="user_id">

            <!-- TODO for the user -->

            {% for user in all_users %}
            <option value="{{user.id}}">{{ user.first_name}}</option>
            {% endfor %}
            
        </select>
    </div>


    <button type="submit">Add Task</button>


</form>

{% endblock %}